body{
  margin-left: 1%;
  margin-right:1%;
  overflow-x: hidden;
  background-color: #e9d3be;
}

main{
  margin-top: 1%;
  background-color: #ddcc76;
  padding: 3%;
}

form{
  margin-left: 1%;
  margin-right:30%;
  border: 2px solid #000000
}

.form-control{
  width: 100%;
}

#map{
  height:700px;
  width:100%;
}

#map, form{
  box-shadow: 10px 10px 5px grey
}

#cont{
  margin-top: 1%;
}

#find, #user{
  padding-left: 17%;
}

.interactive{
  max-height: 3%
}

li{
  list-style: none;
}
