body{
  height: 100%;
  width:99%;
  font-family: Junge;

  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

.middle{
  background-color: #e9d3be;
  max-width: 50%;
  border-radius: 5px;
  text-align: center;
  margin-top: 50%;
  box-shadow: 0 4px 8px 0 #818181, 0 6px 81px 0 #818181;
}

.row{
  height: 30%
}

.content{
  padding-top: 3%;
  font-size: 60px
}

button, .links{
  margin-right: auto;
  margin-left: auto;
  display:inline-block;
  width: 30%;
  height: 50%;
  font-size: 30px
}

hr{
  width: 80%;
  border: 2px solid #ffffff
}

form{
  font-size: 20px
}
