[run]
omit =
    *apps.py,
    *migrations/*,
    *settings*,
    *tests/*,
    *urls.py,
    *wsgi.py,
    manage.py,
    utils/*,
    *secrets.py,
    *__init__.py,
    *test_settings.py
