<!doctype html>
{% load staticfiles %}
<html>
  <head>
    <meta charset='utf-8'>
    <title>Bus Stops</title>
    <link rel='stylesheet' href='{% static "css/bootstrap.min.css" %}' />
    <link rel='stylesheet' href='{% static "css/bus_stop.css" %}' />
  </head>
  <body>
    <main>

      <div>
        <form class='row' class='interactive'>
          <div class='col-sm-6 form-group' id='find'>
            <button id='get' class= 'btn btn-primary' type='button'>Use your current location.</button>
          </div>
          <div class='col-sm-6 form-group' id='user'>
            <div id='cont'>
              <div class='col-sm-6'>
                <input id='address' type='text' placeholder='Enter your own address here!' />
                <br /><small class='form-text text-muted'>Street address, City</small>
              </div>
              <div class='col-sm-6'>
                <br /><button id='given' class='btn btn-primary' type='submit'>Submit</button>
              </div>
            </div>
          </div>
        </form>
      </div>

      <section class='row' id='results' class='interactive'>
          <div id='map'></div>
      </section>

    </main>

    <script src='{% static "js/jquery.js" %}'></script>
    <script src='{% static "js/bootstrap.min.js" %}'></script>
    <script src='{% static "js/csrf.js" %}'></script>
    <script src='{% static "js/map_gen.js" %}'></script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3jXN3ocJ27BgnQD1ZhVZ3bBSXyVt5-Nc&callback=initMap">
    </script>
    <script src='{% static "js/bus_stop.js" %}'></script>

  </body>
</html>
