<!doctype html>
{% load staticfiles %}
<html >
  <head>
      <meta charset='utf-8' />
      <title>Transit Tracker - Landing</title>

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link href='//fonts.googleapis.com/css?family=Junge' rel='stylesheet'>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css">
      <link rel="stylesheet" href="{% static 'css/landing.css' %}"/>
  </head>
  <body style='background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),url({% static "img/map_wall.jpg" %}),no-repeat 50% 50% fixed;'>
    <main>
      <div class='row'>
        <span id='back' class='glyphicon glyphicon-backward'></span>
      </div>
      <div class='row main'>
          <div id='land' class='center-block middle'>
            <div class='info'>
              <h1 class='content'>Transit Tracker</h1>
              <hr />
              <button id='login'>Log In</button>
              <button id='create'>Sign Up</button>
              <hr />
              <div class='bottom_button'>
                <button style='margin-bottom:3%' id='continue'>Continue As guest</button>
              </div>
            </div>
          </div>
          <div id='createacc' class='center-block middle' style='display:none;'>
            <div class='info'>
              <form id='create_form'>
                {% csrf_token %}
                <h1 class='content'>Account Creation!</h1>
                <hr />
                <input type='email' name='email' placeholder='Email' maxlength='50' required/><br />
                <input type='text' name='confirm_email' placeholder='Confirm Email' maxlength='50' required/><br />
                <input type='text' name='fname' placeholder='First Name' maxlength='50' required/><br />
                <input type='text' name='lname' placeholder='Last Name' maxlength='50' required/><br />
                <input type='text' name='gender' placeholder='Gender' maxlength='50' required/><br />
                <input type='text' name='street' placeholder='Street Address' maxlength='50' required/><br />
                <input type='text' name='city' placeholder='City' maxlength='50' required /><br />
                <input type='text' name='state' placeholder='State' maxlength='2' required/><br />
                <input type='text' name='zip' placeholder='ZIP Code' maxlength='5' required/><br />
                <input type='password' name='password' placeholder='Password' maxlength='50' data-toggle='popover' data-trigger='focus' data-content='Requirements: 1 capitol letter, 1 number, 0 Symbols, no shorter than 8 characters,  and no longer than 16 characters.' required/><br />
                <input type='password' name='confirm_pass' placeholder='Confirm Password' maxlength='50' required/><br />
                <small class='form-text text-muted'>Transit Tracker will never give away your information.</small><br />
                <button style='margin-bottom:3%' id='create_acc'>Submit</button>
                <p id='test-response'></p>
              </form>
            </div>
          </div>
          <div id='loginform' class='center-block middle' style='display:none;'>
            <div class='info'>
              <form>
                {% csrf_token %}
                <h1 class='content'>Login!</h1>
                <hr />
                <input type='text' name='email' placeholder='Email' /><br />
                <input type='password' name='password' placeholder='Password' /><br />
                <button style='margin-bottom:3%' id='login'>Submit</button>
                <p id='test-response'></p>
              </form>
            </div>
          </div>
          <div id='guest' class='center-block middle' style='display:none;'>
            <div class='info'>
              <h1 class='content'>Cities</h1>
              <hr />
              <a href="/pdx" class="btn btn-default links">Portland, OR</a>
              <a href="/nyc" class="btn btn-default links">NYC, NY</a>
            </div>
          </div>
      </div>
    </main>
  </body>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src='{% static "js/landing.js" %}'></script>
</html>
